body {
  color: #717070;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5b5b5b;
}

a {
  color: #3584d5;
}

input,
textarea {
  border: 1px solid #e4e3e3;
  background-color: #FEFEFE;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border-color: #cbc9c9;
}

.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  background-color: #3584d5;
  color: #FFF;
}

.btn:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background: #222;
  color: #FFF;
  text-decoration: none;
}

#navigation a {
  color: #6c6b6b;
  border-bottom: 1px solid #dfdede;
  /* Global Menu Link Styles */
}

#navigation .dropdown-toggle {
  background-color: transparent;
  color: #6c6b6b;
}

#navigation .dropdown-toggle:hover {
  background-color: #e4e3e3;
}

#navigation > li:first-child > a {
  border-top: 1px solid #dfdede;
}

#navigation a:hover {
  color: #3584d5;
  /* First Level & Global Menu Link Hover Styles */
}

#navigation li > a:hover,
#navigation li.current_page_item > a,
#navigation li.current-menu-item > a,
#navigation li.current-page-item > a,
#navigation li.current > a {
  color: #3584d5;
}

#navigation li > a:hover .dropdown-toggle,
#navigation li.current_page_item > a .dropdown-toggle,
#navigation li.current-menu-item > a .dropdown-toggle,
#navigation li.current-page-item > a .dropdown-toggle,
#navigation li.current > a .dropdown-toggle {
  color: #6c6b6b;
}

.mobile-toggle,
.mobile-toggle:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #3584d5;
}

.mobile-toggle:active {
  color: #111;
}

.footer {
  background-color: #EBEBE9;
}

.color,
.site-intro h2 > span {
  color: #3584d5;
}

.item > a:hover {
  border-color: #a5a2a2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.filter-nav li a {
  color: #6c6b6b;
  border-bottom: 1px solid #e4e3e3;
}

.filter-nav li a.selected,
.filter-nav li a:hover {
  color: #3584d5;
  border-bottom-color: #666262;
}

.entry-title a {
  color: #6c6b6b;
}

.entry-title a:hover {
  color: #3584d5;
}

.portfolio-info th,
.portfolio-info td {
  border-bottom: 1px solid #e4e3e3;
}

.section-title {
  border-bottom: 1px solid #e4e3e3;
}

.footer {
  border-bottom: 3px solid #3584d5;
}

.footer-bottom {
  background-color: #404040;
  color: #B1B1B1;
}

.form-allowed-tags,
.comment-notes {
  color: rgba(113, 112, 112, 0.8);
}

.widget select {
  border: 1px solid #e4e3e3;
}

.widget_meta ul li a,
.widget_pages ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_nav_menu ul li a {
  border-bottom: 1px solid #e4e3e3;
}

.widget_meta ul li .count,
.widget_pages ul li .count,
.widget_categories ul li .count,
.widget_archive ul li .count,
.widget_nav_menu ul li .count {
  color: #717070;
}

.widget_pages select,
.widget_categories select,
.widget_archive select {
  border: 1px solid #e4e3e3;
  background: #FFF;
}

.widget_ci_twitter_widget .twitter-time {
  color: #979696;
}

.widget_ci_twitter_widget .twitter-time:hover {
  color: #3584d5;
}

.comment-form input[type="submit"] {
  background: none;
  color: #3584d5;
  border: 0;
}

.comment-form input[type="submit"]:hover {
  color: #0b0a0a;
}

.comment-reply-link {
  background: none;
  color: #3584d5;
  border: 0;
}

.comment-reply-link:hover {
  color: #0b0a0a;
}